.custom-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: 1.25rem auto;
}

.custom-navbar > * {
  margin: auto 0;
}

.site-logo {
  font-size: 3.5rem;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  cursor: pointer;
  user-select: none;
}

.nav-btn {
  color: black;
  font-size: 1.5rem;
  font-family: "Karla";
  margin-right: 2rem;
  vertical-align: bottom;
}

@media screen and (max-width: 585px) {
  .site-logo {
    font-size: 2.5rem;
  }
  .nav-btn {
    font-size: 1rem;
    margin-right: 1rem;
  }
}
